.showcase {
  .showcase-text {
    padding: 3rem;
  }
  .showcase-img {
    min-height: 30rem;
    background-size: cover;
  }
  @media (min-width: 768px) {
    .showcase-text {
      padding: 7rem;
    }
  }
}

.see-all {
  opacity: 0.85;

  // a {
  //   display: block;
  //   text-decoration: none;
  // }
}

.card-img-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  color: $white;

  &:hover {
    background-color: rgba(0, 0, 0, 0);
  }
}
